<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/coverage/9.2/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="Package Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="TWILIO_SID" value="testing_sid"/>
        <env name="TWILIO_AUTH_TOKEN" value="testing_token"/>
        <env name="TWILIO_VERIFY_SID" value="testing_verify_sid"/>
    </php>
</phpunit>
